<!DOCTYPE html>
<html>
<head>
  <title>Keymail</title>
  <%= stylesheet_link_tag    "keymail/application", media: "all" %>
  <%= javascript_include_tag "keymail/application" %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
